<ion-view hide-back-button="true" view-title="About" id="about" cache-view="false">
	<ion-nav-buttons side="left">
		<button menu-toggle="left" class="button button-icon icon" ng-class="$ionicSideMenuDelegate.isOpen() ? 'ion-android-close' : 'ion-navicon'"></button>
	</ion-nav-buttons>
	<ion-content padding="false" scroll="true">
		<div class="card">
		  <div class="item item-text-wrap" ng-bind-html="AboutUsContent"></div>
		</div>
	</ion-content>
</ion-view>
