<ion-view hide-back-button="true" view-title="Audio" id="audio" cache-view="false">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon" ng-class="$ionicSideMenuDelegate.isOpen() ? 'ion-android-close' : 'ion-navicon'"></button>
  </ion-nav-buttons>
  <ion-content padding="false" scroll="true">
    <ion-refresher pulling-text="Release to refresh" on-refresh="audioRefresh()"></ion-refresher>
    <div class="list card" ng-repeat="media in config.audio">
      <div class="item">
        <h2>{{media.title}}</h2>
      </div>
      <div class="item item-image">
        <div class="videogular-container">
          <videogular vg-theme="media.theme.url" class="videogular-container audio" vg-player-ready="onAudioPlayerReady($API, $index)" vg-update-state="onAudioUpdateState($state, $index)">
            <vg-media vg-src="media.sources" vg-preload="media.preload" vg-type="audio"></vg-media>
            <vg-controls>
              <vg-play-pause-button></vg-play-pause-button>
              <vg-time-display ng-show="currentTime!==null">{{currentTime | date:'mm:ss':'+0000'}}</vg-time-display>
              <vg-scrub-bar>
                  <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
              </vg-scrub-bar>
              <vg-time-display ng-show="timeLeft">{{timeLeft | date:'mm:ss':'+0000'}}</vg-time-display>
              <vg-volume>
                  <vg-mute-button></vg-mute-button>
              </vg-volume>
            </vg-controls>
          </videogular>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
