<ion-view hide-back-button="true" view-title="Free BIZ Consultation" id="consultation" cache-view="false">
	<ion-nav-buttons side="left">
		<button menu-toggle="left" class="button button-icon icon" ng-class="$ionicSideMenuDelegate.isOpen() ? 'ion-android-close' : 'ion-navicon'"></button>
	</ion-nav-buttons>
	<ion-content padding="false" scroll="true">
		<form method="post" name="ConsultForm" ng-submit="ConsultProcess(consult);" autocomplete="false">
			<div class="card">
			  	<label class="item item-input item-stacked-label">
			    	<span class="input-label">Subject</span>
			    </label>
			    <label class="item item-input">
			    	<input type="text" placeholder="Subject" ng-model="consult.subject" required />
			  	</label>
			  	<label class="item item-input item-stacked-label">
			    	<span class="input-label">What is your biggest issue with your BIZ now?</span>
			    </label>
			    <label class="item item-input">
			    	<textarea placeholder="What is your biggest issue with your BIZ now?" rows="4" ng-model="consult.query" required></textarea>
			  	</label>
			  	<label class="item item-input item-stacked-label">
			    	<span class="input-label">Country/State</span>
			    </label>
			    <label class="item item-input">
			    	<input type="text" placeholder="Country/State" ng-model="consult.state" required />
			  	</label>
			  	<label class="item item-input item-stacked-label">
			    	<span class="input-label">Mobile Number</span>
			    </label>
			    <label class="item item-input">
			    	<input type="text" placeholder="Mobile Number" ng-model="consult.mobile" required />
			  	</label>
			  	<label class="item item-input item-stacked-label">
			    	<span class="input-label">Skype ID</span>
			    </label>
			    <label class="item item-input">
			    	<input type="text" placeholder="Skype ID" ng-model="consult.skype" required />
			  	</label>
			  	<input type="hidden" ng-model="consult.userid" />
			</div>
			<div class="row">
				<div class="col">
					<button type="submit" class="button button-block button-new-green icon-right ion-android-checkmark-circle" ng-disabled="ConsultForm.$invalid">Submit</button>
				</div>
			</div>
		</form>
		<br><br>
		<br><br>
		<br><br>
	</ion-content>
</ion-view>
