<ion-view hide-back-button="true" hide-nav-bar="true" view-title="Forgot Password" id="forgot">
  <ion-content padding="false" scroll="true">
    <img src="img/headerhome.jpg" class="banner img-responsive" />
    <div class="row">
      <div class="col">
        <form method="post" name="ForgotForm" ng-submit="ForgotProcess(forgot);" autocomplete="false">
          <div class="row responsive-md">
            <div class="col">
              <div class="list">
                <label class="item item-input item-floating-label">
                  <i class="icon ion-android-mail placeholder-icon"></i>
                  <span class="input-label">Email</span>
                  <input type="email" placeholder="Email ID" ng-model="forgot.email" required />
                </label>
              </div>
              <button type="submit" class="button button-block button-purple icon-right ion-android-refresh" ng-disabled="ForgotForm.$invalid">Reset Password</button>
              <div class="text-center">
                <a class="button button-clear icon-left ion-ios-arrow-thin-left" href="#/login"><small>Back to Login</small></a>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </ion-content>
</ion-view>
