<ion-modal-view id="how2use" cache-view="false">
	<ion-header-bar class="bar-assertive bar-common">
		<h1 class="title">How To Use</h1>
		<button class="button button-clear button-primary" ng-click="modal.hide()"><small><i class="ion-icon ion-close-round"></i> Close</small></button>
	</ion-header-bar>
	<ion-content padding="false" scroll="true">
		<div class="list card">
			<div class="item item-body" ng-bind-html="SpeedDialContent"></div>
		</div>
	</ion-content>
</ion-modal-view>
