<ion-view hide-back-button="true" hide-nav-bar="true" view-title="Home" id="home">
  <ion-content padding="false" scroll="true">
    <img src="img/headerhome.jpg" class="banner img-responsive" />
    <div class="row">
      <div class="col">
        <h3 class="text-center">Speed Dial the<br/>Universe Journal</h3>
        <p class="text-center">Have you ever wished there was a daily practice that would set you up for extreme success and abundance?</p>
        <div class="row responsive-md">
          <div class="col">
            <button class="button button-block button-orange icon-right ion-log-in" ng-click="signin();">Sign in</button>
            <button class="button button-block button-purple icon-right ion-person-add" ng-click="signup();">Create an Account</button>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
