<ion-view hide-back-button="true" view-title="How to use" id="howtouse" cache-view="false">
	<ion-nav-buttons side="left">
		<button menu-toggle="left" class="button button-icon icon" ng-class="$ionicSideMenuDelegate.isOpen() ? 'ion-android-close' : 'ion-navicon'"></button>
	</ion-nav-buttons>
	<ion-nav-buttons side="right">
    <button class="button button-clear" ui-sref="app.speeddial"><small><i class="ion-arrow-left-c"></i> Back</small></button>
  </ion-nav-buttons>
	<ion-content padding="false" scroll="true">
		<div class="list card">
			<div class="item item-body" ng-bind-html="SpeedDialContent"></div>
		</div>
	</ion-content>
</ion-view>
