<ion-view hide-back-button="true" hide-nav-bar="true" view-title="Login" id="login">
  <ion-content padding="false" scroll="true">
    <img src="img/headerhome.jpg" class="banner img-responsive" />
    <div class="row">
      <div class="col">
        <form method="post" name="SigninForm" ng-submit="SigninProcess(signin);" autocomplete="false">
          <div class="row responsive-md">
            <div class="col">
              <div class="list">
                <label class="item item-input item-floating-label">
                  <i class="icon ion-android-mail placeholder-icon"></i>
                  <span class="input-label">Email</span>
                  <input type="email" placeholder="Email ID" ng-model="signin.email" required />
                </label>
                <label class="item item-input item-floating-label">
                  <i class="icon ion-locked placeholder-icon"></i>
                  <span class="input-label">Password</span>
                  <input type="password" placeholder="Password" ng-model="signin.password" required />
                </label>
              </div>
              <button type="submit" class="button button-block button-purple icon-right ion-log-in" ng-disabled="SigninForm.$invalid">Log In</button>

              <div class="row row-no-padding">
                <div class="col">
                  <div class="text-left">
                    <a class="button button-clear icon-left ion-ios-arrow-thin-left" href="#/"><small>Back to Home</small></a>
                  </div>
                </div>
                <div class="col">
                  <div class="text-right">
                    <a class="button button-clear icon-right ion-ios-arrow-thin-right" href="#/forgot"><small>Lost Password?</small></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </ion-content>
</ion-view>
