<ion-tabs class="tabs-icon-top tabs-positive">
	<ion-tab title="Video" icon="ion-ios-film" ui-sref="app.media.video">
  		<ion-nav-view name="video-tab"></ion-nav-view>
	</ion-tab>
	<ion-tab title="Audio" icon="ion-android-microphone" ui-sref="app.media.audio">
  		<ion-nav-view name="audio-tab"></ion-nav-view>
	</ion-tab>
</ion-tabs>