<ion-side-menus>
  <ion-side-menu-content>
    <ion-nav-bar class="bar-assertive bar-common">
      <ion-nav-back-button class="button-clear icon ion-chevron-left"></ion-nav-back-button>
    </ion-nav-bar>
    <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu id="sidemenu" side="left">
    <ion-content class="side-menu-left side-menu-gradient">
      <div class="padding" ui-sref="app.profile" menu-close>
        <div class="profile-image">
          <img src="{{$root.userData.User_Image}}" />
        </div>
        <h3 class="profile-name">{{$root.userData.User_FullName}}</h3>
      </div>
      <ion-list class="manual-list-fullwidth">
        <div class="sidemenu-list">
          <ion-item class="item-icon-left side-menu-item" ui-sref="app.speeddial" menu-close href="#/app/speeddial" active-page-highlight>
            <i class="icon ion-ios-book-outline"></i>Speed Dial
          </ion-item>
          <ion-item class="item-icon-left side-menu-item" ui-sref="app.statistics" menu-close href="#/app/statistics" active-page-highlight>
            <i class="icon ion-ios-pie-outline"></i>Statistics
          </ion-item>
          <ion-item class="item-icon-left side-menu-item" ui-sref="app.howtouse" menu-close href="#/app/howtouse" active-page-highlight>
            <i class="icon ion-ios-help-outline"></i>How to use
          </ion-item>
          <ion-item class="item-icon-left side-menu-item" ui-sref="app.profile" menu-close href="#/app/profile" active-page-highlight>
            <i class="icon ion-ios-person-outline"></i>Profile
          </ion-item>
          <ion-item class="item-icon-left side-menu-item" ui-sref="app.resources" menu-close href="#/app/resources" active-page-highlight>
            <i class="icon ion-ios-toggle-outline"></i>Resources
          </ion-item>
          <ion-item class="item-icon-left side-menu-item" ui-sref="app.media.video" menu-close href="#/app/media/video" active-page-highlight>
            <i class="icon ion-ios-film-outline"></i>Media
          </ion-item>
          <ion-item class="item-icon-left side-menu-item" ui-sref="app.consultation" menu-close href="#/app/consultation" active-page-highlight>
            <i class="icon ion-ios-telephone-outline"></i>Free BIZ Consultation
          </ion-item>
          <ion-item class="item-icon-left side-menu-item" ui-sref="app.about" menu-close href="#/app/about" active-page-highlight>
            <i class="icon ion-ios-information-outline"></i>About
          </ion-item>
          <ion-item class="item-icon-left side-menu-item" ui-sref="app.support" menu-close href="#/app/support" active-page-highlight>
            <i class="icon ion-ios-gear-outline"></i>Help
          </ion-item>
          <ion-item class="item-icon-left side-menu-item" menu-close href="" ng-click="logout()">
            <i class="icon ion-log-out"></i>Logout
          </ion-item>
        </div>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
