<ion-view hide-back-button="true" view-title="Orders" id="orders">
	<ion-nav-buttons side="left">
		<button menu-toggle="left" class="button button-icon icon" ng-class="$ionicSideMenuDelegate.isOpen() ? 'ion-android-close' : 'ion-navicon'"></button>
	</ion-nav-buttons>
	<ion-content padding="false" scroll="true">
		<div class="card">
			<div class="list">
				<a class="item">
					Product Name 1
					<span class="badge badge-assertive">$20</span>
				</a>
				<a class="item">
					Product Name 2
					<span class="badge badge-assertive">$20</span>
				</a>
				<a class="item">
					Product Name 3
					<span class="badge badge-assertive">$20</span>
				</a>
				<a class="item">
					Product Name 4
					<span class="badge badge-assertive">$20</span>
				</a>
			</div>
		</div>
	</ion-content>
</ion-view>