<ion-modal-view id="password" cache-view="false">
	<ion-header-bar class="bar-assertive bar-common">
		<h1 class="title">Change Password</h1>
		<button class="button button-clear button-primary" ng-click="modal.hide()"><small><i class="ion-icon ion-close-round"></i> Close</small></button>
	</ion-header-bar>
	<ion-content padding="false" scroll="true">
		<form method="post" name="PasswordForm" ng-submit="PasswordProcess(password);" autocomplete="false">
			<div class="card">
			  	<label class="item item-input item-stacked-label">
			    	<span class="input-label">Current Password</span>
			    </label>
			    <label class="item item-input">
			    	<input type="password" placeholder="Current Password" ng-model="password.current" required />
			  	</label>
			  	<label class="item item-input item-stacked-label">
			    	<span class="input-label">New Password</span>
			    </label>
			    <label class="item item-input">
			    	<input type="password" placeholder="New Password" ng-model="password.new" required />
			  	</label>
			  	<label class="item item-input item-stacked-label">
			    	<span class="input-label">Confirm Again</span>
			    </label>
			    <label class="item item-input">
			    	<input type="password" placeholder="Confirm Again" ng-model="password.confirm" required />
			  	</label>
			  	<input type="hidden" ng-model="password.userid" />
			</div>
			<div class="row">
				<div class="col">
					<button type="submit" class="button button-block button-new-green icon-right ion-ios-locked-outline" ng-disabled="PasswordForm.$invalid">Change</button>
				</div>
			</div>
		</form>
	</ion-content>
</ion-modal-view>
