<ion-popover-view class="fit">
  <ion-content>
    <div class="list">
      <a class="item icon icon-left ion-ios-arrow-thin-left" ng-click="popover.hide()" ui-sref="app.speeddial"> Back to Calendar</a>
      <a class="item icon icon-left ion-ios-checkmark-outline" ng-click="popover.hide()" ui-sref="app.rocks"> Set Inspired Actions</a>
    </div>
  </ion-content>
</ion-popover-view>
