<ion-view hide-back-button="true" view-title="Profile" id="profile" cache-view="false">
	<ion-nav-buttons side="left">
		<button menu-toggle="left" class="button button-icon icon" ng-class="$ionicSideMenuDelegate.isOpen() ? 'ion-android-close' : 'ion-navicon'"></button>
	</ion-nav-buttons>
	<ion-content padding="false" scroll="true">
		<div class="list profile-card">
			<div class="profile-img">
				<img src="{{userData.User_Image}}" ng-click="loadImage()" />
				<i class="icon ion-camera" ng-click="loadImage()"></i>
			</div>
			<h3>{{userData.User_FullName}}</h3>
		</div>
		<ul class="card">
			<li class="item item-icon-left">
				<i class="icon ion-ios-email-outline"></i> {{userData.User_Email}}
			</li>
		</ul>

		<ul class="card">
			<li class="item item-toggle">
				Reminder to Journal
				<label class="toggle toggle-dark">
					<input type="checkbox" ng-model="profile.reminder" ng-click="SetReminder(profile)">
					<div class="track">
						<div class="handle"></div>
					</div>
				</label>
			</li>
			<li class="item" ng-show="profile.reminder">
				<div class="item item-icon-left" ion-datetime-picker time am-pm ng-model="profile.time">
          <i class="icon ion-ios-clock-outline"></i>
          Reminder At:
          <strong style="float:right">{{profile.time| date: "hh:mm a"}}</strong>
        </div>
			</li>
		</ul>

		<ul class="card" ng-click="openModal()" ng-if="userData.User_Password">
			<li class="item item-icon-left">
				<i class="icon ion-ios-locked-outline"></i> Change Password
			</li>
		</ul>
	</ion-content>
</ion-view>
