<ion-view hide-back-button="true" view-title="Journal - {{ journal.date | date:'MMM d, y'}}" id="journal" cache-view="false">
	<ion-nav-buttons side="left">
		<button menu-toggle="left" class="button button-icon icon" ng-class="$ionicSideMenuDelegate.isOpen() ? 'ion-android-close' : 'ion-navicon'"></button>
	</ion-nav-buttons>
	<ion-nav-buttons side="right">
      <button class="button button-clear button-icon ion-more" ng-click="popover.show($event)"></button>
    </ion-nav-buttons>
	<ion-content padding="false" scroll="true" ng-controller="QuestionsCtrl">
		<form method="post" name="JournalForm" ng-submit="JournalProcess(journal);" autocomplete="false">
			<div class="card">
				<div class="item item-text-wrap">
					TYPE IN YOUR ANSWERS BELOW:
	        <i class="icon ion-help-circled" style="float: right" ng-click="openModal()"></i>
				</div>
		  	<label class="item item-input item-stacked-label">
		    	<span class="input-label">Today, I appreciate:</span>
		    </label>
		    <label class="item item-input">
		    	<textarea expanding-textarea rows="1" placeholder="Today, I appreciate:" ng-model="journal.question1"></textarea>
		  	</label>
		  	<label class="item item-input item-stacked-label">
		    	<span class="input-label">Today my dominant feeling will be:</span>
		    </label>
		    <label class="item item-input">
		    	<textarea expanding-textarea rows="1" placeholder="Today my dominant feeling will be:" ng-model="journal.question2"></textarea>
		  	</label>
		  	<label class="item item-input item-stacked-label">
		    	<span class="input-label">My 6 Inspired Actions for today are:</span>
		    </label>
		    <label class="item item-input">
		    	<textarea expanding-textarea rows="1" placeholder="Inspired Actions 1" ng-model="journal.rocks.rock1"></textarea>
		    	<input type="hidden" ng-model="journal.rocks.rockId1" />
		    </label>
		    <label class="item item-input">
		    	<textarea expanding-textarea rows="1" placeholder="Inspired Actions 2" ng-model="journal.rocks.rock2"></textarea>
		    	<input type="hidden" ng-model="journal.rocks.rockId2" />
		    </label>
		    <label class="item item-input">
		    	<textarea expanding-textarea rows="1" placeholder="Inspired Actions 3" ng-model="journal.rocks.rock3"></textarea>
		    	<input type="hidden" ng-model="journal.rocks.rockId3" />
		    </label>
		    <label class="item item-input">
		    	<textarea expanding-textarea rows="1" placeholder="Inspired Actions 4" ng-model="journal.rocks.rock4"></textarea>
		    	<input type="hidden" ng-model="journal.rocks.rockId4" />
		    </label>
		    <label class="item item-input">
		    	<textarea expanding-textarea rows="1" placeholder="Inspired Actions 5" ng-model="journal.rocks.rock5"></textarea>
		    	<input type="hidden" ng-model="journal.rocks.rockId5" />
		    </label>
		    <label class="item item-input">
		    	<textarea expanding-textarea rows="1" placeholder="Inspired Actions 6" ng-model="journal.rocks.rock6"></textarea>
		    	<input type="hidden" ng-model="journal.rocks.rockId6" />
		  	</label>
		  	<label class="item item-input item-stacked-label">
		    	<span class="input-label">Everything else I desire is being delegated to the Universe. Thank you Universe, for handling the following for me!</span>
		    </label>
		    <label class="item item-input">
		    	<textarea expanding-textarea rows="1" placeholder="Everything else I desire is being delegated to the Universe. Thank you Universe, for handling the following for me!" ng-model="journal.question3"></textarea>
		  	</label>
		  	<label class="item item-input item-stacked-label">
		    	<span class="input-label">My Wild Hair Intention. Wouldn't it be awesome today if:</span>
		    </label>
		    <label class="item item-input">
		    	<textarea expanding-textarea rows="1" placeholder="My Wild Hair Intention. Wouldn't it be awesome today if:" ng-model="journal.question4"></textarea>
		  	</label>
		  	<label class="item item-input item-stacked-label">
		    	<span class="input-label">One of my desires has manifested in the most perfect way. It unfolded like this...</span>
		    </label>
		    <label class="item item-input">
		    	<textarea expanding-textarea rows="1" placeholder="One of my desires has manifested in the most perfect way. It unfolded like this..." ng-model="journal.question5"></textarea>
		  	</label>
		  	<label class="item item-input item-stacked-label">
		    	<span class="input-label">The most important thing for me to focus on today is...</span>
		    </label>
		    <label class="item item-input">
		    	<textarea expanding-textarea rows="1" placeholder="The most important thing for me to focus on today is..." ng-model="journal.question6"></textarea>
		  	</label>
		  	<input type="hidden" ng-model="journal.journalId" />
		  	<input type="hidden" ng-model="journal.date" />
		  	<input type="hidden" ng-model="journal.userid" />
			</div>
			<div class="row">
				<div class="col">
					<button type="submit" class="button button-block button-new-green icon-right ion-ios-calendar-outline">SAVE JOURNAL</button>
				</div>
				<div class="col">
					<button type="button" class="button button-block button-light-blue icon-right ion-ios-email-outline" ng-disabled="!enableEmailPrint" ng-click="OpenEmailPrint()">PRINT/EMAIL</button>
				</div>
			</div>
		</form>
		<br><br>
		<br><br>
		<br><br>
	</ion-content>
</ion-view>
