<ion-view hide-back-button="true" hide-nav-bar="true" view-title="Register" id="register">
  <ion-content padding="false" scroll="true">
    <img src="img/headerhome.jpg" class="banner img-responsive" />
    <div class="row">
      <div class="col">
        <form method="post" name="RegisterForm" ng-submit="RegisterProcess(register);" autocomplete="false">
          <div class="row responsive-md">
            <div class="col">
              <div class="list">
                <label class="item item-input item-floating-label">
                  <i class="icon ion-person placeholder-icon"></i>
                  <span class="input-label">Full Name</span>
                  <input type="text" placeholder="Full Name" ng-model="register.name" required />
                </label>
                <label class="item item-input item-floating-label">
                  <i class="icon ion-android-mail placeholder-icon"></i>
                  <span class="input-label">Email</span>
                  <input type="email" placeholder="Email ID" ng-model="register.email" required />
                </label>
                <label class="item item-input item-floating-label">
                  <i class="icon ion-locked placeholder-icon"></i>
                  <span class="input-label">Password</span>
                  <input type="password" placeholder="Password" ng-model="register.password" required />
                </label>
              </div>
              <button type="submit" class="button button-block button-purple icon-right ion-person-add" ng-disabled="RegisterForm.$invalid">Register</button>

              <div class="row row-no-padding">
                <div class="col">
                  <div class="text-left">
                    <a class="button button-clear icon-left ion-ios-arrow-thin-left" href="#/"><small>Back to Home</small></a>
                  </div>
                </div>
                <div class="col">
                  <div class="text-right">
                    <a class="button button-clear icon-right ion-ios-arrow-thin-right" href="#/signin"><small>Login</small></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </ion-content>
</ion-view>
