<ion-view hide-back-button="true" view-title="Resources" id="resources" cache-view="false">
	<ion-nav-buttons side="left">
		<button menu-toggle="left" class="button button-icon icon" ng-class="$ionicSideMenuDelegate.isOpen() ? 'ion-android-close' : 'ion-navicon'"></button>
	</ion-nav-buttons>
	<ion-content padding="false" scroll="true">
		<ion-refresher pulling-text="Release to refresh" on-refresh="eventRefresh()"></ion-refresher>
		<div class="card" ng-repeat="event in events">
			<div ng-if="event.From=='event'">
				<div class="item item-divider">
	    		<h2 class="event-title"><a target="_blank" href="{{event.Event_Link}}"><strong>{{event.Event_Name}}</strong></a></h2>
		  	</div>
	  		<div class="item item-text-wrap">
		    	<div class="event-desc">{{event.Event_Desc}}</div>
				</div>
				<div class="item event-meta">
					<p><i class="icon ion-ios-navigate-outline"></i> {{event.Event_Venue}}</p>
  					<p>
  						<span><i class="icon ion-ios-time-outline"></i> {{event.Event_Time}}</span>
  					</p>
		    	</div>
		    	<div class="event-button">
		    		<a target="_blank" href="{{event.Event_Link}}" class="button button-block button-small button-light-blue" style="background:{{buttonColor}}">
							<span ng-if="event.Button_Text">{{event.Button_Text}}</span>
							<span ng-if="!event.Button_Text">
								<span ng-if="event.Event_Price">{{buyBtn}}</span>
								<span ng-if="!event.Event_Price">{{freeBtn}}</span>
								<span ng-if="event.Event_Price">for ${{event.Event_Price}}</span>
							</span>
						</a>
		    	</div>
			</div>

			<div ng-if="event.From=='product'">
				<div class="item item-divider">
					<h2 class="event-title"><a target="_blank" href="{{event.Product_Link}}"><strong>{{event.Product_Name}}</strong></a></h2>
				</div>
		  	<div class="item item-text-wrap">
		    	<div class="event-desc">{{event.Product_Desc}}</div>
				</div>
			    <div class="event-button">
		    		<a target="_blank" href="{{event.Product_Link}}" class="button button-block button-small button-light-blue" style="background:{{buttonColor}}">
							<span ng-if="event.Button_Text">{{event.Button_Text}}</span>
							<span ng-if="!event.Button_Text">
								<span ng-if="event.Product_Spl_Price">{{buyBtn}}</span>
								<span ng-if="!event.Product_Spl_Price">{{freeBtn}}</span>
								<span ng-if="event.Product_Spl_Price">
				    			for ${{event.Product_Spl_Price}} <strike ng-if="event.Product_Price">${{event.Product_Price}}</strike>
				    		</span>
							</span>
						</a>
		    	</div>
			</div>
		</div>
    <div class="card" ng-show="!events.length && !loading">
      <div class="item item-text-wrap">No events or products are available.</div>
    </div>
    <div class="card" ng-show="loading">
      <div class="item item-text-wrap">Loading events & products...</div>
    </div>
		<br><br>
		<br><br>
		<br><br>
	</ion-content>
</ion-view>
