<ion-view hide-back-button="true" view-title="Set Inspired Actions" id="rocks" cache-view="false">
	<ion-nav-buttons side="left">
		<button menu-toggle="left" class="button button-icon icon" ng-class="$ionicSideMenuDelegate.isOpen() ? 'ion-android-close' : 'ion-navicon'"></button>
	</ion-nav-buttons>
	<ion-nav-buttons side="right">
      <button class="button button-clear" ui-sref="app.questions"><small><i class="ion-arrow-left-c"></i> Back</small></button>
    </ion-nav-buttons>
	<ion-content padding="false" scroll="true" ng-controller="RocksCtrl">
		<form ng-submit="RocksProcess(rocks)" ng-if="items.length">
			<input type="hidden" ng-model="rocks.date" />
			<input type="hidden" ng-model="rocks.userid" />
			<div class="card">
				<div class="item item-text-wrap" style="white-space:normal">Your Inspired Actions for {{ rocks.date | date:'MMMM d, y' }} was:</div>
				<ion-list>
					<ion-checkbox ng-model="rocks.check[item.Rock_ID]" ng-checked="item.Rock_Status == 'complete'" ng-repeat="item in items" ng-if="item.Answer">{{ item.Answer }}</ion-checkbox>
				</ion-list>
			</div>
			<div class="row">
				<div class="col">
					<button type="submit" class="button button-block button-new-green icon-right ion-android-checkmark-circle">Submit</button>
				</div>
			</div>
		</form>
		<div ng-if="!items.length && !loading">
			<div class="card">
				<div class="item" style="white-space:normal">You did not set any Inspired Actions on {{ rocks.date | date:'MMMM d, y' }}.</div>
			</div>
		</div>
		<div ng-if="loading">
			<div class="card">
				<div class="item" style="white-space:normal">Loading {{ rocks.date | date:'MMMM d, y' }}'s Inspired Actions...</div>
			</div>
		</div>
	</ion-content>
</ion-view>
