<ion-view hide-back-button="true" hide-nav-bar="true" view-title="Sign up" id="signup">
  <ion-content padding="false" scroll="true">
    <img src="img/headerhome.jpg" class="banner img-responsive" />
    <div class="row">
      <div class="col">
        <div class="row responsive-md">
          <div class="col">
            <button type="button" class="button button-block button-facebook icon-right ion-social-facebook" ng-click="FacebookSignIn()">Login with Facebook</button>
            <button type="button" class="button button-block button-google icon-right ion-social-google" ng-click="GoogleSignIn()">Login with Google</button>
            <div class="text-center">OR</div>
            <button type="button" class="button button-block button-purple icon-right ion-android-mail" ng-click="register();">Register with Email</button>
            <div class="text-center">
              <a class="button button-clear icon-left ion-ios-arrow-thin-left" href="#/"><small>Back to Home</small></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
