<ion-view hide-back-button="true" view-title="Speed Dial" id="speeddial" cache-view="false">
	<ion-nav-buttons side="left">
		<button menu-toggle="left" class="button button-icon icon" ng-class="$ionicSideMenuDelegate.isOpen() ? 'ion-android-close' : 'ion-navicon'"></button>
	</ion-nav-buttons>
	<ion-content padding="false" scroll="true" ng-controller="SpeedDialCtrl">
		<input type="hidden" ng-model="myDate" />
		<div class="card">
		  	<my-calendar display="myDate" dateformat="'yyyy-MM-dd'"></my-calendar>
		</div>
		<div class="row">
			<div class="col">
				<button type="button" ng-click="composeJournal();" class="button button-block button-new-green icon-right ion-ios-compose-outline">Speed Dial</button>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<button ng-click="openModal()" class="button button-clear button-block button-positive"><strong>HOW TO USE GUIDE</strong></button>
			</div>
		</div>
	</ion-content>
</ion-view>
