<ion-view hide-back-button="true" view-title="Statistics" id="statistics" cache-view="false">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon" ng-class="$ionicSideMenuDelegate.isOpen() ? 'ion-android-close' : 'ion-navicon'"></button>
  </ion-nav-buttons>
  <ion-content padding="false" scroll="true" on-swipe-left="onSwipeLeft()" on-swipe-right="onSwipeRight()" can-swipe="true">
    <ion-refresher pulling-text="Release to refresh" on-refresh="statsRefresh()"></ion-refresher>
    <div class="card">
      <div class="item item-text-wrap statsDate">Statistics for {{ date | date:'MMM d, y' }}:</div>
      <div class="item item-text-wrap" ng-show="data.length">
        <canvas id="bar" class="chart chart-bar" chart-data="data" chart-labels="labels" chart-series="series" chart-options="chartOptions"></canvas>
      </div>
      <div class="item item-text-wrap" ng-show="!data.length">No stats to show the graph.</div>
    </div>
    <div class="card">
      <div class="list">
        <a class="item">
          Total Inspired Actions set
          <span class="badge badge-new-green">{{ total }}</span>
        </a>
        <a class="item">
          Total Inspired Actions Completed
          <span class="badge badge-new-green">{{ complt }}</span>
        </a>
        <a class="item">
          Percentage Completed
          <span class="badge badge-new-green">{{ percent }}%</span>
        </a>
      </div>
    </div>
    <div class="swipe">Swipe right to change date</div>
  </ion-content>
</ion-view>
