<ion-view hide-back-button="true" view-title="Support" id="support" cache-view="false">
	<ion-nav-buttons side="left">
		<button menu-toggle="left" class="button button-icon icon" ng-class="$ionicSideMenuDelegate.isOpen() ? 'ion-android-close' : 'ion-navicon'"></button>
	</ion-nav-buttons>
	<ion-content padding="false" scroll="true">
		<form method="post" name="SupportForm" ng-submit="SupportProcess(support);" autocomplete="false">
			<div class="card">
			  	<label class="item item-input item-stacked-label">
			    	<span class="input-label">Briefly explain issue and we'll get back to you in 48 hours or less!</span>
			    </label>
			    <label class="item item-input">
					<textarea rows="10" placeholder="Briefly explain issue and we'll get back to you in 48 hours or less!" ng-model="support.concern" required></textarea>
			  	</label>
			  	<input type="hidden" ng-model="support.userid" />
			</div>
			<div class="row">
				<div class="col">
					<button type="submit" class="button button-block button-new-green icon-right ion-ios-settings" ng-disabled="SupportForm.$invalid">Submit</button>
				</div>
			</div>
		</form>
	</ion-content>
</ion-view>