@font-face{
  font-family: 'FilsonSoft-Bold';
  src: url('./webfont/FilsonSoft-Bold.eot?#iefix') format('embedded-opentype'),
       url('./webfont/FilsonSoft-Bold.otf') format('opentype'),
       url('./webfont/FilsonSoft-Bold.woff') format('woff'),
       url('./webfont/FilsonSoft-Bold.ttf') format('truetype'),
       url('./webfont/FilsonSoft-Bold.svg#FilsonSoft-Bold') format('svg');
  font-weight: normal;
  font-style: normal
}
@font-face{
  font-family: 'FilsonSoft-Book';
  src: url('./webfont/FilsonSoft-Book.eot?#iefix') format('embedded-opentype'),
       url('./webfont/FilsonSoft-Book.otf') format('opentype'),
       url('./webfont/FilsonSoft-Book.woff') format('woff'),
       url('./webfont/FilsonSoft-Book.ttf') format('truetype'),
       url('./webfont/FilsonSoft-Book.svg#FilsonSoft-Book') format('svg');
  font-weight: normal;
  font-style: normal
}

/* Common */
body{
  color: #242424;
  font-size: 15px;
  line-height: 1.5;
  font-family: 'FilsonSoft-Book'
}

body{
  padding-top: constant(safe-area-inset-top);
  padding-top: env(safe-area-inset-top);
}
.toolbar-footer{
  margin-bottom: constant(safe-area-inset-bottom);
  margin-bottom: env(safe-area-inset-bottom);
}

.scroll-content{
  background: #fff;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover
}

.splash{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #e0592b url('../img/splash.gif') no-repeat center center / 100%
}

.spinner{}

.button{
  border: none;
  font-size: 1em;
  opacity: 0.85
}

.button-facebook{
  color: #fff;
  background-color: #3b5998;
  box-shadow: 0 0 5px 0 rgba(0,0,0,0.25);
  -webkit-box-shadow: 0 0 5px 0 rgba(0,0,0,0.25);
  -moz-box-shadow: 0 0 5px 0 rgba(0,0,0,0.25);
  -o-box-shadow: 0 0 5px 0 rgba(0,0,0,0.25);
  -ms-box-shadow: 0 0 5px 0 rgba(0,0,0,0.25)
}
.button-facebook:hover,
.button-facebook.activated{
  color: #fff;
  opacity: 1;
  background-color: #3b5998
}

.button-google{
  color: #fff;
  background-color: #ea4335;
  box-shadow: 0 0 5px 0 rgba(0,0,0,0.25);
  -webkit-box-shadow: 0 0 5px 0 rgba(0,0,0,0.25);
  -moz-box-shadow: 0 0 5px 0 rgba(0,0,0,0.25);
  -o-box-shadow: 0 0 5px 0 rgba(0,0,0,0.25);
  -ms-box-shadow: 0 0 5px 0 rgba(0,0,0,0.25)
}
.button-google:hover,
.button-google.activated{
  color: #fff;
  opacity: 1;
  background-color: #ea4335
}

.button-new-green{
  color: #fff;
  background: #95c485;
  box-shadow: 0 0 5px 0 rgba(0,0,0,0.25);
  -webkit-box-shadow: 0 0 5px 0 rgba(0,0,0,0.25);
  -moz-box-shadow: 0 0 5px 0 rgba(0,0,0,0.25);
  -o-box-shadow: 0 0 5px 0 rgba(0,0,0,0.25);
  -ms-box-shadow: 0 0 5px 0 rgba(0,0,0,0.25)
}
.button-new-green:hover,
.button-new-green.activated{
  color: #fff;
  opacity: 1;
  background: #95c485
}

.button-light-blue{
  color: #fff;
  background: #55aaaa;
  box-shadow: 0 0 5px 0 rgba(0,0,0,0.25);
  -webkit-box-shadow: 0 0 5px 0 rgba(0,0,0,0.25);
  -moz-box-shadow: 0 0 5px 0 rgba(0,0,0,0.25);
  -o-box-shadow: 0 0 5px 0 rgba(0,0,0,0.25);
  -ms-box-shadow: 0 0 5px 0 rgba(0,0,0,0.25)
}
.button-light-blue:hover,
.button-light-blue.activated{
  color: #fff;
  opacity: 1;
  background: #55aaaa
}

.button-orange{
  color: #fff;
  background-color: #e05729;
  box-shadow: 0 0 5px 0 rgba(0,0,0,0.25);
  -webkit-box-shadow: 0 0 5px 0 rgba(0,0,0,0.25);
  -moz-box-shadow: 0 0 5px 0 rgba(0,0,0,0.25);
  -o-box-shadow: 0 0 5px 0 rgba(0,0,0,0.25);
  -ms-box-shadow: 0 0 5px 0 rgba(0,0,0,0.25)
}
.button-orange:hover,
.button-orange.activated{
  color: #fff;
  opacity: 1;
  background-color: #e05729
}

.button-purple{
  color: #fff;
  background-color: #4b384c;
  box-shadow: 0 0 5px 0 rgba(0,0,0,0.25);
  -webkit-box-shadow: 0 0 5px 0 rgba(0,0,0,0.25);
  -moz-box-shadow: 0 0 5px 0 rgba(0,0,0,0.25);
  -o-box-shadow: 0 0 5px 0 rgba(0,0,0,0.25);
  -ms-box-shadow: 0 0 5px 0 rgba(0,0,0,0.25)
}
.button-purple:hover,
.button-purple.activated{
  color: #fff;
  opacity: 1;
  background-color: #4b384c
}

#signin .button-clear,
#signup .button-clear,
#login .button-clear,
#register .button-clear,
#forgot .button-clear{
  color: #4b384c
}
.button-clear:hover,
.button-clear.activated{
  color: #4b384c;
  opacity: 1
}

.badge-new-green{
  color: #fff;
  padding-top: 8px;
  background: #95c485
}
.event-title{
  white-space: normal !important
}
.event-title a{
  font-size: 18px;
  color: #666;
  text-decoration: none
}
.event-desc{
  color: #555;
  font-size: 14px
}
.event-meta{
  font-size: 12px;
  color: grey;
  background-color: #fcfcfc
}
.event-button{
  margin-bottom: -1px
}
.event-button .button-light-blue{
  margin: 0;
  box-shadow: none;
  border-radius: 0
}

.statsDate{
  background-color: #e0592b;
  color: #fff;
  font-family: 'FilsonSoft-Bold'
}
.swipe{
  text-align: center;
  font-size: 12px;
  color: #a9a9a9;
  margin-top: 50px
}

.popup-head{
  background-color: #5e3c58
}
.popup-head .popup-title{
  color: #fff
}
.popup-body{
  background-color: #fff
}
.popup-buttons{
  background-color: #fff
}
.popup-buttons .button-default{
  color: #222;
  opacity: 0.85;
  background-color: #ddd
}
.popup-buttons .button-default:hover,
.popup-buttons .button-default.activated{
  color: #222;
  opacity: 1;
  background-color: #ddd
}
.popup-buttons .button-positive{
  color: #fff;
  opacity: 0.85;
  background-color: #5e3c58
}
.popup-buttons .button-positive:hover,
.popup-buttons .button-positive.activated{
  opacity: 1;
  background-color: #5e3c58
}

ion-popover-view.fit{
  height: auto
}

ion-popover-view.fit ion-content{
  position: relative
}

.platform-android ion-popover-view.fit{
  margin-top: 10px
}

.checkbox input:checked::before,
.checkbox input:checked + .checkbox-icon::before{
  background: #5c596d;
  border-color: #5c596d
}

/* Home, Login & Forgot Password Page */
#home h3{
  margin-bottom: 20px;
  font-size: 2.5em;
  color: #4b384c;
  font-family: 'FilsonSoft-Bold'
}
#home p{
  font-size: 1.2em
}
form .list{
  overflow: hidden;
  border-radius: 4px;
  background-color: rgba(255,255,255,0.85);
  box-shadow: 0 0 5px 0 rgba(0,0,0,0.25);
  -webkit-box-shadow: 0 0 5px 0 rgba(0,0,0,0.25);
  -moz-box-shadow: 0 0 5px 0 rgba(0,0,0,0.25);
  -o-box-shadow: 0 0 5px 0 rgba(0,0,0,0.25);
  -ms-box-shadow: 0 0 5px 0 rgba(0,0,0,0.25)
}
form .item-text-wrap{
  background-color: #5c596d;
  color: #fff;
  margin-bottom: -1px
}
form .item-floating-label .placeholder-icon{
  padding-right: 0;
  position: absolute;
  bottom: 9px;
  right: 16px;
  color: #4b384c
}
input{
  font-size: 1em;
  padding-right: 16px
}

/* Side Menu */
#sidemenu .side-menu-gradient{
  background-color: #e0592b
}
#sidemenu .profile-image{
  text-align: center
}
#sidemenu .profile-image img{
  border-radius: 50%;
  margin:10px;
  border: 4px solid rgba(255, 255, 255, 0.4);
  width: 130px;
  height: 130px;
  box-shadow: 0 0 2px 0 rgba(100,100,100,0.25)
}
#sidemenu .profile-name{
  font-family: 'FilsonSoft-Bold';
  color: #fff;
  text-align: center;
  margin: 0 0 15px 0;
  text-shadow: 0 2px 0 rgba(100,100,100,0.3)
}
#sidemenu .sidemenu-list{
  background: none;
  border-top: 2px solid rgba(100, 100, 100, 0.20);
  padding: 10px 0
}
#sidemenu .side-menu-item{
  background: none;
  border: none
}
#sidemenu .side-menu-item .item-content{
  background: none;
  color: #fff;
  border-top: 1px solid #e0592b;
  border-bottom: 1px solid #e0592b;
  font-size: 16px;
  text-shadow: 0 1px 0 rgba(100,100,100,0.25)
}
#sidemenu .side-menu-item .item-content .item{
  font-size: 26px
}
#sidemenu .side-menu-item .item-content.activated,
#sidemenu .side-menu-item .item-content:hover{
  background-color: rgba(255,255,255,0.25);
  border-top: 1px solid rgba(100, 100, 100, 0.20);
  border-bottom: 1px solid rgba(100, 100, 100, 0.20)
}
#sidemenu .side-menu-item.active-page-highlight .item-content{
  background-color: rgba(255,255,255,0.25);
  border-top: 1px solid rgba(100, 100, 100, 0.20);
  border-bottom: 1px solid rgba(100, 100, 100, 0.20)
}

#howtouse .item-body p{
  margin-top: 0
}
#speeddial .card{
  padding-top: 0;
  padding-bottom: 0
}

.bar-assertive.bar-common.bar.bar-header{
  margin-top: -1px;
  background: #5E3C58;
  border-color: #5E3C58
}
.img-responsive{
  width: 100%;
  height: auto
}
.tabs-positive > .tabs,
.tabs.tabs-positive{
  background-color: #4b384c !important;
  border-color: #4b384c !important
}
#journal .item.item-input,
#consultation .item.item-input,
#password .item.item-input,
#support .item.item-input,
#editProfile .item.item-input,
#editProfile .item.item-select{
  padding: 10px 16px
}
#journal .item.item-input.item-stacked-label,
#consultation .item.item-input.item-stacked-label,
#password .item.item-input.item-stacked-label,
#support .item.item-input.item-stacked-label,
#editProfile .item.item-input.item-stacked-label,
#rocks .item.item-text-wrap{
  background-color: #e0592b;
  color: #fff;
  font-family: 'FilsonSoft-Bold'
}
#journal .input-label,
#consultation .input-label,
#password .input-label,
#support .input-label,
#editProfile .input-label{
  max-width: 100%;
  width: 100%;
  white-space: normal;
  padding-bottom: 4px;
  color: #fff;
  font-family: 'FilsonSoft-Bold'
}
.item-input p{
  white-space: normal
}
.item.item-select select{
  -webkit-border-radius: 0;
  border-radius: 0;
  -webkit-box-flex: 1;
  -webkit-flex: 1 220px;
  -moz-box-flex: 1;
  -moz-flex: 1 220px;
  -ms-flex: 1 220px;
  flex: 1 220px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
  padding-right: 24px;
  background-color: transparent;
  display: block;
  padding: 2px 48px 0 16px;
  padding-left: 16px;
  padding-left: 0;
  height: 34px;
  color: #111;
  vertical-align: middle;
  font-size: 14px;
  width: 100%;
  border: 0;
  position: relative;
  max-width: 100%;
  direction: ltr
}
.card .item.item-input input,
.card .item.item-input select,
.card .item.item-input textarea{
  padding-right: 0
}

#resources .item.item-divider{
  background-color: #5E3C58
}
#resources .item.item-divider .event-title a{
  color: white
}

.profile-card{
  background-color: #e0592b;
  box-shadow: 0 0 5px 0 rgba(0,0,0,0.25);
  -webkit-box-shadow: 0 0 5px 0 rgba(0,0,0,0.25);
  -moz-box-shadow: 0 0 5px 0 rgba(0,0,0,0.25);
  -o-box-shadow: 0 0 5px 0 rgba(0,0,0,0.25);
  -ms-box-shadow: 0 0 5px 0 rgba(0,0,0,0.25);
  text-align: center;
  padding: 35px 15px
}
.profile-card h3{
  color: #fff;
  margin: 20px 0 0 0;
  font-family: 'FilsonSoft-Bold'
}
.profile-card img{
  border-radius: 50%;
  border: 4px solid rgba(255, 255, 255, 0.4);
  width: 100px;
  height: 100px
}
.profile-card .edit-btn{
  position: absolute;
  top: 0;
  right: 0;
  color: #fff
}
.profile-img{
  width: 200px;
  margin: 0 auto;
  position: relative
}
.profile-img .icon.ion-camera{
  position: absolute;
  top: 15%;
  right: 25%;
  background-color: red;
  padding: 0 5px;
  height: 20px;
  color: #fff;
  border-radius: 50%;
  width: 20px;
  text-align: center;
  cursor: pointer
}

.videogular-container{
  width: 100%;
  height: auto;
  margin: auto;
  overflow: hidden
}
.videogular-container.audio{
  height: 50px
}
@media (min-width: 1200px){
  .videogular-container{
    width: 1170px;
    height: 658.125px;
  }
  .videogular-container.audio{
    width: 1170px;
    height: 50px;
  }
}
@media (min-width: 992px) and (max-width: 1199px){
  .videogular-container{
    width: 940px;
    height: 528.75px;
  }
  .videogular-container.audio{
    width: 940px;
    height: 50px;
  }
}
@media (min-width: 768px) and (max-width: 991px){
  .videogular-container{
    width: 728px;
    height: 409.5px;
  }
  .videogular-container.audio{
    width: 728px;
    height: 50px;
  }
}

.ionic_Calendar{
  min-height: 21em
}

.my__Loading{
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0
}
.my__Loading .spinner{
  position: absolute;
  top: -15px;
  left: -15px
}
.my__Loading:before{
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.15)
}
.my__Loading:not(:required){
  font-size: 0;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0
}
.my__Loading:not(:required):after{
  content: '';
  display: block;
  font-size: 10px;
  width: 1em;
  height: 1em;
  margin: 0
}
.spinner svg {
  width: 30px;
  height: 30px
}

.item h1,
.item h2,
.item h3{
  font-family: 'FilsonSoft-Bold'
}


.ionic_Calendar .calendar_Date .row.Daysheading{
  text-align:center
}
.ionic_Calendar .calendar_Date .row.Daysheading:last-child{
  padding-bottom:0
}
.ionic_Calendar .txtCenter{
  text-align:center
}
.ionic_Calendar .col.selMonth{
  background-color:#e0592b;
  color:white
}
.ionic_Calendar .col.selDate{
  background-color:#e0592b;
  color:white
}
.ionic_Calendar .col.selYear{
  background-color:#e0592b;
  color:white
}
.ionic_Calendar .col.fadeDateDisp,
.col.fadeYear{
  background-color:#E9E9E9;
  color:#D5D5D5
}
.ionic_Calendar .DaysDisplay .col{
  border:1px solid #F3F3F3;
  padding-top:15px;
  font-weight:bolder;
  height:50px
}
.ionic_Calendar .DaysDisplay .col.hasJournal{
  position:relative
}
.ionic_Calendar .DaysDisplay .col.hasJournal::after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  border-color:transparent;
  border-style:solid
}
.ionic_Calendar .DaysDisplay .col.hasJournal::after{
  border-width:8px;
  border-right-color:orange;
  border-top-color:orange
}
.ionic_Calendar .DaysDisplay.row{
  padding-left:0;
  padding-right:0
}
.ionic_Calendar .MonthsDisplay.row{
  padding-left:0;
  padding-right:0
}
.ionic_Calendar .MonthsDisplay .col{
  border:1px solid #F3F3F3;
  padding-top:30px;
  font-size:18px;
  height:80px
}
.ionic_Calendar .YearsDisplay.row{
  padding-left:0;
  padding-right:0
}
.ionic_Calendar .YearsDisplay .col{
  border:1px solid #F3F3F3;
  padding-top:30px;
  font-size:18px;
  height:80px
}
.ionic_Calendar .marginTop0{
  margin-top:0
}
.ionic_Calendar .paddingBottom0{
  padding-bottom:0
}
.ionic_Calendar .Daysheading_Label .col{
  padding-bottom:0
}
